//===========================================
// @@ ++ User better login
//===========================================

#auth_box {
  width: 550px;
  padding: 0;
  a {
    color: #ffffff;
    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
  .password_link, .register_link {
    padding: 15px 0 0;
  }
  //#field-telephone-add-more-wrapper, .field-phone-number-add-more-wrapper
  // eerst local aangemaakt met als label Telephone vandaar #field-telephone-add-more-wrapper
  // online onmiddellijk
  #field-phone-number-add-more-wrapper {
    label {
      float: left;
      font-weight: bold;
      padding-right: 5px;
      padding-top: 3px;
    }
    input[type="text"] {
      width: 130px;
    }
  }
  input[type="checkbox"], select {
    border-radius: 3px;
    border: 1px #cccccc solid;
    padding: 7px 0;
  }
  input[type="submit"] {
    @extend %buttonAll;
    @include roundcorners(0px);
  }
}

#middle_part {
  legend {
    font-size: 1.6em;
  }
  #edit-uc-addresses {
  }
  #edit-legal {
    margin-top: 40px;

    .form-item-legal-accept {
      padding-left: 45px;
      a {
        color: #000000;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}