//=====================================
// ## ++ Catalogus menu
//====================================

.block-uc-catalog {
  @include boxshadow();
  padding: 15px;
  margin-top: 25px;
  ul.catalog.menu {
    padding: 10px;
    li.leaf, li.collapsed {
      padding: 5px 0;
    }
    li.leaf {
      list-style-image: none;
      list-style-type: none;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
