//===========================================
// @@ ++ International Phone field
//==========================================

.intl-tel-input {
  margin-left: 9px;
}

.field-type-international-phone {
  label {
    font-weight: bold;
  }
}

input#edit-field-in-phone-number-und-0-value.international_phone-number {
  padding-left: 35px;
}