//===========================================
// @@ ++ User login region on page.tpl.php
//==========================================
.user-region {
  background: #ffffff;
}

.navbar-toggle {
  .icon-bar {
    background-color: black;
  }
}

.dropdown-menu>li>a {
  &:hover {
    color: $hover-color;
  }
}

.user-region {
  .fa {
    padding-right: 10px;
  }
}


//===========================================
// @@ ++ User better login
//===========================================

#auth_box {
  width: 450px;
  a {
    color: #ffffff;
    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
  .password_link, .register_link {
    padding: 15px 0 0;
  }
  input[type=submit] {
    @extend %button;
    @include roundcorners(0px);
  }
}